/**
 * App main file
 */

/**
 * global vars
 */

$path-imgs : '';
$path-fonts : '';

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico/Pacifico-webfont.eot');
    src: url('../fonts/pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pacifico/Pacifico-webfont.woff2') format('woff2'),
    url('../fonts/pacifico/Pacifico-webfont.woff') format('woff'),
    url('../fonts/pacifico/Pacifico-webfont.ttf') format('truetype'),
    url('../fonts/pacifico/Pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Oswald:300,400,700';

//@font-face {
//  font-family: 'Lato Regular';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Lato Regular'),
//       local('Lato-Regular'),
//       url('../fonts/lato/lato-regular.woff2') format('woff2');
//}
//@font-face {
//  font-family: 'Lato Bold';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Lato Bold'),
//  local('Lato-Bold'),
//  url('../fonts/lato/lato-bold.woff2') format('woff2');
//}
//@font-face {
//  font-family: 'Lato Light';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Lato Light'),
//  local('Lato-Light'),
//  url('../fonts/lato/lato-light.woff2') format('woff2');
//}
//@font-face {
//  font-family: 'Lato Light Italic';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Lato Light Italic'),
//  local('Lato-LightItalic'),
//  url('../fonts/lato/lato-light-italic.woff2') format('woff2');
//}
//@font-face {
//  font-family: 'Oswald Regular';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Oswald Regular'),
//  local('Oswald-Regular'),
//  url(../fonts/oswald/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
//}
//@font-face {
//  font-family: 'Oswald Bold';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Oswald Bold'),
//  local('Oswald-Bold'),
//  url('../fonts/oswald/oswald-bold.woff2') format('woff2');
//}
//@font-face {
//  font-family: 'Oswald Light';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Oswald Light'),
//  local('Oswald-Light'),
//  url('../fonts/oswald/oswald-light.woff2') format('woff2');
//}

//Btn menu
$button-width: 24px;                    // The width of the button area
$button-height: 24px;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 4px;                      // The left/right padding between button area and bars.
$button-bar-space: 4px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration


// Colors
$c-white : #fff;
$c-black : #000;
$c-orange: #F24C27;

$c-light-grey: #e0e0e0;

$c-dark-blue: #024959;

$c-green-light: #b3dbc0;
$c-green-darker: #9bc3a8;

$c-yellow-lime: #f3ffbd;
$c-yellow-lime-dark: #deeaa8;

$c-green-mint: #70c0b3;
$c-green-mint-dark: #5eac9f;

//agenda events
$c-dark-primary-border : #22f6cc;
$c-dark-primary-border-alt : #3a4859;

//dashboard
$c-blue-dark: #166e94;
$c-lighter-grey: #f9f9f9;
$c-grey: #c9c9c9;
$c-active-blue: #055a7f;
$c-light-blue: #5396b2;




//layout main width
$main-nav-full : 300px;
$main-nav-small : 80px;

$sidebar-width-full: 400px;
$sidebar-width-small: 100%;

// Animations
$transition-duration : .3s;
$transition-function : cubic-bezier(0.165, 0.84, 0.44, 1);

//webfonts mixins
@mixin baseFont() {
    font-family: 'Roboto', sans-serif;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/**
 * imports
 */
@import 'vendors/_normalize.scss';
@import 'vendors/fa/font-awesome.scss';
@import '_bootstrap.scss';
@import '_helpers.scss';
@import '_sprite-icon.data.scss';
@import '_datepicker.scss';


/*@import '_styles.scss';
@import '_sidebar.scss';
@import '_login.scss';
@import '_progress-bar.scss';*/

@import '_login.scss';
@import '_dashboard.scss';



//display all elements: use it to see/debug overflowing elements
// body {
// 	*,
// 	*:before,
// 	*:after {
// 		@include outline;
// 	}
// }
