<article>
    <div class="description-wrapper col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ post.description|raw}}
    </div>

    {% if post.files|length > 0  %}
        {% for image in post.files %}
            {% set path = '/upload/media/' ~image.name %}
            <img class="col-xs-12 col-sm-12 col-md-10 col-lg-10" src="{{ path | imagine_filter('item_detail') }}">
        {% endfor %}
    {% endif %}

</article>